<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <div class="navbar-brand">
      <a class="navbar-brand" routerLink=" ">Rotas Ng2</a>
    </div>
    <ul  class="nav navbar-nav me-auto mb-2 mb-lg-0">
      <li routerLinkActive="active"><a class="nav-link" routerLink="/templateForm">Form - Template Driven</a></li> 
      <li routerLinkActive="active"><a class="nav-link" routerLink="/dataForm">Form - Data Driven</a></li>  
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

